span.select2-container {
    z-index: 10050;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
/*.dropdown-menu>li:hover>a {*/
    background-color: #2987c7 !important;
    color: #fff !important;
}

.bootstrap-select.btn-group .dropdown-menu li a {
    font-size: 12px !important;
}

.small {
    font-size: 12px;
}

.btn.green-meadow:not(.btn-outline) {
    color: #FFF;
    background-color: #008080;
    border-color: #006f6f; /*#075858;*/
}

.btn.green-meadow:not(.btn-outline):hover {
    background-color: #006f6f;
}

#launch-template > .modal-dialog {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
}

a#btnlaunch {
    top: 10px !important;
    position: relative;
}

/*span click*/
.div-fields > span.active {
    background-color: #d3d3d3 !important;
}

.div-fields > span:hover {
    background-color: #d3d3d3 !important;
}

span.alert-danger {
    padding: 5px !important;
    font-size: 11px;
    margin-top: 10px;
}

div#div-seldb1.has-error, div#div-seldb2.has-error {
    color: #b94a48;
}

/*font size*/
.page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span {
    font-size: smaller !important;
}
ul.page-breadcrumb {
    padding: 6px !important;
}
/*span.title {
    font-size: small !important;
}
.portlet.light>.portlet-title>.caption>.caption-subject {
    font-size: 14px !important;
}
.portlet.light>.portlet-title {
    min-height: 0 !important;
}*/
table.dataTable.no-footer {
    border-bottom: none !important;
}
/*label.label-small {
    font-size: smaller;
}
th, td {
    font-size: 12px !important;
    padding: 7px !important;
}*/
/* here you can put your own css to customize and override the theme */
.table>thead>tr>th.active {
    background-color: #ccc !important;
}

.fields > span, .div-fields > span {
    border: 1px dotted #b0c4d2;
    margin: 2px;
    list-style: none;
    padding: 2px;
    color: #818188;
    cursor: pointer;
}
div.fields, div.div-fields {
    display: grid;
    font-size: 11px !important;
}
.db-msg {
    display: block;
    padding: 5px 0px 5px 10px;
    margin-top: 5px;
}
span.small {
    font-size: small;
}
#btndeleteFile {
    color: #ea5460 !important;
}
.dd-hndl.form-control.dd-nodrag > a {
    width: 100%;
    display: block;
    margin-left: 10px;
    padding-top: 5px;
    margin-top: -5px;
    padding-bottom: 5px;
    color: #34495e;
}
.dd-hndl.form-control.dd-nodrag > a:hover{
    background-color: #e7ecf1;
    text-decoration: none;
}
.dd-hndl.form-control.dd-nodrag {
    margin-bottom: 5px;
}
.dd-handle.dd-nodrag {
    cursor: pointer;
}
.page-header.navbar.navbar-fixed-top {
    background-color: #008080 !important;
}
.page-footer {
    background-color: #008080 !important;
}
.page-footer .page-footer-inner {
    color: #c3cedd;
}
span.logo-title {
    color: #364150;
    font-size: 16pt;
    line-height: 2;
    font-weight: 900;
}
span.logo-subtitle {
    color: #eceef1;
    font-size: 16pt;
    line-height: 2;
    font-weight: 900;
}
span.badge.badge-default {
    background-color: #b36969 !important;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
    float: right;
    margin: -33px 0 0;
}

.dataTables_filter {
    float: right !important;
}

input.form-control.input-sm.input-small.input-inline {
    margin-left: 5px !important;
}

ul.pagination {
    float: right !important;
}

.gradeX {
    cursor: pointer;
}