div#list-fields > a.list-group-item {
    padding: 6px 10px;
    font-size: 11px !important;
}

table#tbljoins {
    word-break: break-all;
}

table#tbljoins > tbody > tr > td {
    font-size: 11px !important;
    padding: 7px 8px;
}

.portlet.light>.portlet-title>.actions .blue, .portlet.light>.portlet-title>.actions .grey-cascade {
    padding: 0px 3px 0px;
    margin-top: 7px;
}

.portlet.light>.portlet-title>.actions .red {
    padding: 0px 3px 0px;
    margin-top: 7px;
}

.portlet.light>.portlet-title>.actions .btn-icon-only {
    height: 20px;
    width: 20px;
}

.actions > a {
    font-size: 11px !important;
}

span.caption-subject.font-red.bold.uppercase.form-wizard {
    font-size: 12px !important;
}

i.icon-layers.font-red {
    font-size: 12px !important;
}

.portlet-title {
    padding: 0 !important;
}

div#divtemplate_name {
    font-size: small;
    margin-top: 2px;
}

span.caption-subject.font-green {
    font-size: 12px !important;
}

.portlet-body {
    padding-top: 0px !important;
}

.mt-element-step .step-line .mt-step-col {
    padding-top: 5px !important;
}

.mt-element-step .step-line .mt-step-number {
    font-size: 12px;
    padding: 3px 9px;
    border: 2px solid #e5e5e5;
}

.mt-element-step .step-line .mt-step-title {
	font-size: 12px;
	margin-top: 5px;
}

.mt-step-content.font-grey-cascade {
    font-size: 12px !important;
}

.mt-element-step .step-line .mt-step-title:after, .mt-element-step .step-line .mt-step-title:before {
    height: 2px;
    top: 19px;
}

.col-md-3.mt-step-col {
    padding-bottom: 16px !important;
}

.portlet.light>.portlet-title>.caption>.caption-subject {
    font-size: 12px;
    word-break: break-all;
}

.scroller {
    font-size: 12px !important;
}

.portlet.light.portlet-db {
    padding: 12px 10px 0 !important;
}

