/* here you can put your own css to customize and override the theme */
label#lblstatus {
    font-size: smaller;
    position: absolute;
}
div#div-query-format {
    padding-top: 29px;
    margin-bottom: 5px;
}
select.form-control.bs-select.required.bs-select-hidden {
    display: block !important;
    height: 0px;
    opacity: -1;
    position: absolute;
    top: 18px;
}

li.datalink {
    list-style: none;
    margin-bottom: 5px;
}

span.logo-title {
    color: #009dc7;
    font-size: 26pt;
    line-height: 2;
    font-weight: 900;
    font-family: fantasy;
}
span.logo-subtitle {
    color: #eceef1;
    font-size: 26pt;
    line-height: 2;
    font-weight: 900;
    font-family: fantasy;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
/*.dropdown-menu>li:hover>a {*/
    background-color: #2987c7 !important;
    color: #fff !important;
}

/*portlet db*/
.db-caption {
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 0;
    margin-bottom: 10px;
}
div.portlet-db > .portlet-title {
    border: none;
    margin-bottom: 0px;
}
.portlet-db {
    margin: 0px !important;
}